server:
  port: 8095

management:
  endpoints:
    jmx:
      exposure:
        include: 'health'
    web:
      base-path: "/"
  endpoint:
    health:
      show-details: "always"

spring:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    properties:
      hibernate:
        order_updates: true
        order_inserts: true
        jdbc:
          lob:
            non_contextual_creation: true
          batch_size: 10
          time_zone: UTC
  main:
    allow-bean-definition-overriding: true
  application:
    name: RD Caseworker Ref API
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_API_BASE_URI:http://0.0.0.0:6000/o}
        registration:
          oidc:
            client-id: microservicekey-rd-caseworker-ref-api
            client-secret: ${CASEWORKER_REF_API_S2S_SECRET:}
  jackson.date-format: yyyy-MM-dd
  flyway.enabled: true
  flyway.locations: classpath:db/testmigration

  ### database configuration
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:dbrdcaseworker
    platform: h2
    username: ${POSTGRES_USERNAME:dbrdcaseworker}
    password: ${POSTGRES_PASSWORD:dbrdcaseworker}
    min-idle: 1
    properties:
      charSet: UTF-8
    tomcat:
      max-active: 10
      max-idle: 10
      min-idle: 2
      max-wait: 10000
      test-on-borrow: true
      test-on-connect: true
      test-on-idle: true
      validation-query: "SELECT 1"
      time-between-eviction-runs-millis: 10000
      test-while-idle: true
      test-on-return: true
      remove-abandoned: true
      remove-abandoned-timeout: 60
      log-abandoned: true
      abandon-when-percentage-full: 0

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/readiness"
    - "/health/liveness"
    - "/actuator/**"
    - "/loggers/**"
    - "/swagger-ui.html"
    - "/swagger-resources/**"
    - "/v2/api-docs"
    - "/webjars/springfox-swagger-ui/**"
    - "/csrf"
    - "/error"
    - "/favicon.ico"
### dependency configuration
idam:
  s2s-auth:
    totp_secret: ${CASEWORKER_REF_API_S2S_SECRET:}
    microservice: rd_caseworker_ref_api
    url: ${S2S_URL:http://127.0.0.1:8990}
  s2s-authorised:
    services: ${CRD_S2S_AUTHORISED_SERVICES:rd_caseworker_ref_api}
  api.url: ${IDAM_URL:http://127.0.0.1:5000}

auth.idam.client.baseUrl: ${http://127.0.0.1:5000/o}
oidc:
  issuer: ${OIDC_ISSUER:http://127.0.0.1:5000/openam/oauth2/hmcts}
  expiration: 14400000 # milliseconds 4 hours

environment_name: ${ENVIRONMENT_NAME:preview}

## user profile feign connection
userProfUrl: ${USER_PROFILE_URL:http://127.0.0.1:8091}
locationRefDataUrl: ${LOCATION_REF_DATA_URL:http://127.0.0.1:8092}
loggingComponentName: RD-Caseworker-Ref-Api
feign:
  allow:
    headers:
      - authorization
      - serviceauthorization

crd:
  publisher:
    azure:
      service:
        bus:
          host: ${CWRD_MQ_HOST:rd-servicebus-sandbox.servicebus.windows.net}
          username: ${CWRD_MQ_USERNAME:SendAndListenSharedAccessKey}
          password: ${CASEWORKER_TOPIC_PRIMARY_SEND_LISTEN_SHARED_ACCESS_KEY:}
          topic: ${CWRD_MQ_TOPIC_NAME:rd-caseworker-topic-sandbox}
          trustAllCerts: false
    caseWorkerDataPerMessage: 3
  security:
    roles:
      cwd-admin: cwd-admin

excel:
  acceptableCaseWorkerHeaders: ${EXCEL_ACCEPTABLE_CW_HEADERS:First Name,Last Name,Email,Region,Region ID,Primary Base Location Name,
    Primary Base Location ID,Secondary Location,Secondary Location ID,User type,Primary Role,Secondary Role,Service1,
    Service1 ID,Service2,Service2 ID,Service3,Service3 ID,Service4,Service4 ID,
    Service5,Service5 ID,Service6,Service6 ID,Service7,Service7 ID,Service8,
    Service8 ID,IDAM Roles,Suspended}
  acceptableServiceRoleMappingHeaders: ${EXCEL_ACCEPTABLE_SERVICE_ROLE_MAPPING_HEADERS:Service ID,Role,IDAM Roles}

refresh:
  pageSize: 20
  sortColumn: caseWorkerId